IRIS/SDC/schema/schema0.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:SOAP-ENV="http://www.w3.org/2003/05/soap-envelope" xmlns:mdpws="http://standards.ieee.org/downloads/11073/11073-20702-2016" xmlns:biceps="http://standards.ieee.org/downloads/11073/11073-10207-2017" xmlns:SOAP-ENC="http://www.w3.org/2003/05/soap-encoding" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.w3.org/2003/05/soap-envelope">
  <xsd:import schemaLocation="schema1.xsd" namespace="http://schemas.xmlsoap.org/ws/2004/08/addressing" />
  <xsd:import schemaLocation="schema2.xsd" namespace="http://standards.ieee.org/downloads/11073/11073-20702-2016" />
  <xsd:element name="Envelope">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Header">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element ref="wsa:Action" />
              <xsd:element ref="wsa:MessageID" />
              <xsd:element ref="wsa:To" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Body">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element ref="mdpws:GetMdibResponse" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xs:schema>