IRIS/SDC/schema/schema3.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:tns="http://standards.ieee.org/downloads/11073/11073-10207-2017" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://standards.ieee.org/downloads/11073/11073-10207-2017" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MdsContext">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DescriptorVersion" type="xs:unsignedByte" />
        <xs:element name="StateVersion" type="xs:unsignedByte" />
        <xs:element name="Descriptor">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Type">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Nomenclature">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="CodingSystem" type="xs:string" />
                          <xs:element name="Code" type="xs:unsignedByte" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Handle" type="xs:unsignedByte" />
              <xs:element name="Label" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="State">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="OperatingMode">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Value">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Nomenclature">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="CodingSystem" type="xs:string" />
                                <xs:element name="Code" type="xs:unsignedShort" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Numeric">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Handle" type="xs:unsignedByte" />
                    <xs:element name="Label" type="xs:string" />
                    <xs:element name="Unit">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Nomenclature">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="CodingSystem" type="xs:string" />
                                <xs:element name="Code" type="xs:unsignedInt" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Value" type="xs:unsignedByte" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>